/sistema/.vscode
/Rotinas/ImportarUnidades/obj
/Rotinas/ImportarUnidades/My Project
/Rotinas/ImportarUnidades/bin
/Rotinas/SESPLAN.v12.suo
/Rotinas/MigrarPasSag/obj
/Rotinas/MigrarPasSag/My Project
/Rotinas/MigrarPasSag/bin
